<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>
    <title>MVC-Security Company Home Page</title>

</head>

<body>

<h2>MVC-Security Company Home Page</h2>
<hr>
<p>Welcome to the company home page.</p>

<hr>
<!--display username and role-->
<p>
    User: <span sec:authentication="principal.username"></span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>


<hr>

<!--    Adding logout button-->
<form action="#" th:action="@{/logout}" method="post">

    <input type="submit" value="Logout">
</form>
</body>

</html>




