<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Customer Registration Form</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div class="container">
    <h2>Customer Registration Form</h2>
    <i>Fill out the form. Asterisk (*) means required.</i>
    <form th:action="@{/processForm}" th:object="${customer}" method="post">
        <div class="form-group">
            <label for="firstName">First name<span>*</span>:</label>
            <input type="text" id="firstName" th:field="*{firstName}">
        </div>
        <div class="form-group">
            <label for="lastName">Last name<span>*</span>:</label>
            <input type="text" id="lastName" th:field="*{lastName}">
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
        </div>
        <div class="form-group">
            <label for="freePasses">Free Passes<span>*</span>:</label>
            <input type="text" id="freePasses" th:field="*{freePasses}">
            <span th:if="${#fields.hasErrors('freePasses')}" th:errors="*{freePasses}" class="error"></span>
        </div>
        <div class="form-group">
            <label for="postalCode">Postal Code<span>*</span>:</label>
            <input type="text" id="postalCode" th:field="*{postalCode}">
            <span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="error"></span>
        </div>
        <div class="form-group">
            <label for="courseCode">Course Code<span>*</span>:</label>
            <input type="text" id="courseCode" th:field="*{courseCode}">
            <span th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}" class="error"></span>

        </div>
        <div class="form-group">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
</body>

</html>
